<nav class="pcoded-navbar">
  <div class="navbar-wrapper">
    <div class="navbar-brand header-logo">
      <a target="_blank" href="https://appseed.us/admin-dashboards/flask-datta-able" class="b-brand">
        <div class="b-bg">
          <i class="feather icon-trending-up"></i>
        </div>
        <span class="b-title">Flask Datta Able</span>
      </a>
      <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
    </div>
    <div class="navbar-content scroll-div">
      <ul class="nav pcoded-inner-navbar">
        <li class="nav-item pcoded-menu-caption">
          <label>Navigation</label>
        </li>
        <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item ">
          <a href="/" class="nav-link"><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
              class="pcoded-mtext">Dashboard</span></a>
        </li>
        <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item ">
          <a href="/User" class="nav-link"><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
              class="pcoded-mtext">User</span></a>
        </li>
        <li data-username="Table bootstrap datatable footable" class="nav-item ">
          <a href="/bangsinhvien" class="nav-link"><span class="pcoded-micon"><i
                class="feather icon-users"></i></span><span class="pcoded-mtext">My Class</span></a>
        </li>
        <li data-username="Table bootstrap datatable footable" class="nav-item ">
          <a href="/read_csv" class="nav-link"><span class="pcoded-micon"><i class="feather icon-image"></i></span><span
              class="pcoded-mtext">Read File CSV</span></a>
        </li>
        <li data-username="Table bootstrap datatable footable" class="nav-item ">
          <a href="/history" class="nav-link"><span class="pcoded-micon"><i class="feather icon-image"></i></span><span
              class="pcoded-mtext">Lịch sử</span></a>
        </li>
        <li data-username="Table bootstrap datatable footable" class="nav-item ">
          <a href="/lop" class="nav-link"><span class="pcoded-micon"><i class="feather icon-image"></i></span><span
              class="pcoded-mtext">Lớp học</span></a>
        </li>
        <li data-username="Table bootstrap datatable footable" class="nav-item ">
          <a href="/monhoc" class="nav-link"><span class="pcoded-micon"><i class="feather icon-image"></i></span><span
              class="pcoded-mtext">Môn học</span></a>
        </li>
        <li class="nav-item pcoded-menu-caption">
          <label>My Transaction Chart</label>
        </li>
        <li data-username="Table bootstrap datatable footable" class="nav-item ">
          <a href="/admin" class="nav-link"><span class="pcoded-micon"><i class="feather icon-repeat"></i></span><span
              class="pcoded-mtext">List Transaction</span></a>
        </li>
        <li data-username="Table bootstrap datatable footable" class="nav-item ">
          <a href="/admin/add" class="nav-link"><span class="pcoded-micon">+</span><span class="pcoded-mtext">Add
              Transaction</span></a>
        </li>
        <li data-username="Table bootstrap datatable footable" class="nav-item ">
          <a href="/admin/dashboard" class="nav-link"><span class="pcoded-micon"><i
                class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">Statistical</span></a>
        </li>

        <li class="nav-item pcoded-menu-caption">
          <label>Log out</label>
        </li>

        <li data-username="Disabled Menu" class="nav-item">
          <a href="{{ url_for('authentication_blueprint.logout') }}" class="nav-link">
            <span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>